<div class="example-container">
  <h2 *ngIf="menu$ | async as menu">Menu #{{menu.menuId}}</h2>

  <div cdkDropList
       class="list"
       #menuList="cdkDropList"
       [cdkDropListData]="menu$"
       [cdkDropListConnectedTo]="[sectionList]">
    <!--       (cdkDropListDropped)="drop($event)"-->
    <div class="example-box" [cdkDragData]="item.sectionId" *ngFor="let item of (menu$ | async)?.sections"
         cdkDrag>{{item.sectionName}}</div>
  </div>
</div>

<div class="example-container">
  <h2>Secciones</h2>

  <div cdkDropList
       class="list"
       #sectionList="cdkDropList"
       [cdkDropListData]="sections$">
    <!--       (cdkDropListDropped)="drop($event)"-->
    <div class="example-box" [cdkDragData]="item.sectionId" *ngFor="let item of (sections$ | async)"
         cdkDrag>{{item.sectionName}}</div>
  </div>
</div>
