<div class="limiter">
  <div class="container-login100">
      <div class="login100-form">
        <mat-card class="login-container">
          <mat-card-content class="login-content">
            <form [formGroup]="loginForm" (ngSubmit)="signIn(); $event.preventDefault(); $event.stopPropagation();">
              <div class="help">
                <mat-form-field floatLabel="always" color="accent">
                  <mat-icon matPrefix>person_pin</mat-icon>
                  <input type="text" matInput placeholder="Usuario" autocomplete="no" formControlName="userLogin" required>
                  <mat-error>
                    El nombre de usuario es requerido
                  </mat-error>
                </mat-form-field>
                <mat-form-field>
                  <mat-icon matPrefix>lock</mat-icon>
                  <input type="password" matInput placeholder="Contraseña" formControlName="userPass">
                  <mat-error>
                    La contraseña es requerida
                  </mat-error>
                </mat-form-field>
              </div>
              <button class="mt-15" mat-raised-button color="accent" type="submit"
                      [disabled]="loginFormInvalid">
                INGRESAR
              </button>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
