<mat-card>
  <h1 class="main-title">Easy <br> &nbsp; Menu</h1>

  <div>
    <mat-card>
      <h3>EasyMenu</h3>
      <h5>Muestra tus platillos en una plataforma innovadora y fácil de usar. Atrae más clientes y aumenta la
        satisfacción de
        los que ya tienes.</h5>

      <p>Con nuestro software de menús digitales, puedes crear menús personalizados y fáciles de usar para tus clientes.
        Olvídate de las molestias de los menús impresos y los costos de impresión cada vez que cambies el menú. Ahorra
        tiempo
        y dinero al hacerlo todo en línea. Además, tu menú siempre estará actualizado con nuestros cambios en tiempo
        real.</p>
    </mat-card>
  </div>

  <div>
    <mat-card>
      <h1 class="mat-card-title" style="align-self: center">Nuestro Servicio</h1>
      <mat-grid-list cols="5">
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile>
          <mat-card style="align-self: center; min-height: 20em">
            <mat-card-title style="align-self: center">
              Personalizacion de Menus
            </mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
            <mat-card-content style="align-self: center">
              Crea un menú que refleje la identidad de tu restaurante y haz que tu comida sea aún más atractiva.
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card style="align-self: center; min-height: 20em">
            <mat-card-title style="align-self: center">
              Cambios en Tiempo Real
            </mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
            <mat-card-content style="align-self: center">
              Actualiza tus precios y platillos sin necesidad de reimprimir menús.
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card style="align-self: center; min-height: 20em">
            <mat-card-title style="align-self: center">
              Analytics
            </mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
            <mat-card-content>
              Obtén información sobre qué platillos son los más populares y ajusta tu menú en consecuencia.
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
      </mat-grid-list>
    </mat-card>
  </div>

  <div>
    <mat-card>
      <mat-card-title>Empieza ahora y tranforma la experiencia gastronomica en tu restaurante.</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
      <mat-card-content>
        <mat-grid-list cols="3">
          <mat-grid-tile colspan="2">
            <label for="email">Escribe tu email y nosotros te contactaremos.</label>
            <input id="name" type="email" [formControl]="email">
          </mat-grid-tile>
          <mat-grid-tile colspan="1">Contactanos</mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
    </mat-card>
  </div>
</mat-card>
